
.styletitle {  
    color: chartreuse;
    font-size: 60px;
  }
.center {
    text-align: center;
  }
.texttypecenter {
  text-align: center;
}
.boxmodel {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 50%;
  height: 150px;
  text-align: center;
  margin: auto;
  transform: translate(0px, 50px);
}